.el-loading-mask {
    background-color: rgba(255, 255, 255, 0.8) !important
}

.el-loading-bubble {
    background-color: rgba(230, 230, 230, 0.8) !important
}

.el-tooltip__popper {
    &.is-dark {
        a {
            color: #fff;
            text-decoration: none
        }
    }
}

.el-dialog__headerbtn {
    display: none
}

// .el-menu {
//     * {
//         transition: none !important
//     }
// }
//
// .el-menu--horizontal .el-submenu > .el-menu {
//     top: 60px !important
// }
